/* Colores:
Color primario: #aa66cc
Color secundario: #9933CC
Color terciario: #ffffff
*/

/* Estilo del cuerpo de la pagina */
body {
  font-family: sans-serif;
}

/* Agregamos dise침o al header */
#header-container {
  background-color: #aa66cc;
  color: white;
}

.row {
  border: 1px solid red;
}

.columna {
  border: 1px solid green;
}

.div {
  border: 1px solid blue;
}

/* Damos tama침o a la imagen que se usara para logotipo */
.logo {
  width: 50px;
  height: 50px;
}

/* Color de la barra de navegacion */
#menu-container {
  background-color: #f7f7f9;
}

/* color delboton buscar */
.btn.btn-Navi {
  background-color: #aa66cc;
  color: white;
}

/* Color cuando se pasa mouse en el boton buscar */
.btn.btn-Navi:hover {
  background-color: #9933CC;
}

/* Color de borde del input buscar */
input.form-control {
  border-color: #aa66cc;
}

/* Margenes de las imagenes del carousel */
#productosCarousel img {
  margin: 0 auto;
}

/* Estilos para la seccion de infomaci칩n */
#info-container {
  background-color: #aa66cc;
  color: white;
}

/* Margen del texto */
#info-container h4 {
  margin: 1em 0;
}

/* Margen de las imagenes */
#info-container img {
  margin: 0 auto;
  margin-top: 2em;
}

/* Estilo del footer y margenes */
#footer-container {
  background-color: #000000;
  color: white;
  padding: 3em 0;
}

/* Tama침o de la etiqueta de titulo */
#footer-container h4 {
  font-size: 16px;
}

/* Color del texto del menu de navegacion */
#footer-container .list-group-item {
  color: black;
}

/* Margen para las columnas para visualizacion desde resoluciones bajas */
@media (max-width: 768px){
  #footer-container [class*="col-"] {
    margin-bottom: 2em;
  }
}

/* Estilo del breadcrumb del catalogo */
#breadcrumbs-container .breadcrumb {
  background-color: white;
  padding-left: 0;
  padding-bottom: 0;
}

/* Color para elementos selccionados */
#breadcrumbs-container .breadcrumb .breadcrumb-item {
  color: #000000;
}

/* Color de elementos activos */
#breadcrumbs-container .breadcrumb .breadcrumb-item.active {
  color: #aa66cc;
}

/* Para Cambiar el simbolo de diagonal*/
#breadcrumbs-container .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  content: ">";
}

/* Estilo para titulos de los elementos activos de los filtros */
#filtros-container .list-group-item-action.active {
  background-color: #aa66cc;
  border-color: #aa66cc;
}

/* Margenes de los filtros */
#filtros-container .list-group {
  margin-bottom: 1em;
}

/* Margen superior e inferior del contenedor de los filtros */
#filtros-container {
  margin-top: 1em;
  margin-bottom: 2em;
}

/* Margenes de la columna de productos */
#fila-productos {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Bordes del contenedor de paginacion */
#Paginator-container {
  margin-bottom: 2em; 
}

/* Estilo del elemento de paginas */
#Paginator-container .page-item:not(.active):not(.disabled) .page-link {
  color: #aa66cc;
}

/* Estilo del elemento de paginas */
#Paginator-container .page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
  background-color: #aa66cc;
  border-color: #aa66cc;
  color: white;
}
